@charset "UTF-8";
/**
 * stylesheet for front end modal
 * modal class ".wpr-modal"
 */
body.wpr-modal-opened {
  overflow: hidden;
}

.wpr-modal {
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 1072;
  position: fixed;
  top: 0;
  left: 0;
  /* display: none; */
  width: 100%;
  height: 100%;
  outline: 0;
}

.wpr-modal.show {
  display: flex !important;
  align-items: center;
  transition: opacity 0.2s linear;
  opacity: 0;
}

.wpr-modal.show.fadeIn {
  opacity: 1;
}

.wpr-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100vw;
  height: 100vh;
  background-color: #000;
}

.wpr-modal-overlay.show {
  opacity: 0;
  transition: opacity 0.2s linear;
}

.wpr-modal-overlay.show.fadeIn {
  opacity: 0.5;
}

.wpr-modal .wpr-modal-dialog {
  pointer-events: none;
  width: auto;
  position: relative;
  transition: transform 0.4s ease-out, -webkit-transform 0.4s ease-out;
  margin: 0.5rem;
  margin-top: 0;
  transform: translate(0, -50px);
}
.wpr-modal.show.fadeIn .wpr-modal-dialog {
  transform: translate(0, 0);
}
.wpr-modal .wpr-modal-content {
  max-height: calc(100vh - 3.5rem);
  overflow: hidden;
  position: relative;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  display: flex;
  flex-direction: column;
  outline: 0;
}
.wpr-modal .wpr-modal-head {
  display: -ms-flexbox;
  padding: 1rem 1rem;
  border-bottom: 1px solid #dee2e6;
  border-top-left-radius: calc(.3rem - 1px);
  border-top-right-radius: calc(.3rem - 1px);
}
.wpr-modal .wpr-modal-head h2.modal-heading {
  text-align: center;
  font-size: 22px;
  margin-bottom: 10px;
}
.wpr-modal .wpr-modal-close {
  font-size: 16px;
  font-weight: 700;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.8;
  cursor: pointer;
  text-transform: none;
  position: absolute;
  top: 4px;
  right: 1px;
  width: 25px;
  height: 25px;
  line-height: 25px;
  background: #000;
  border-radius: 50%;
  color: #fff;
  text-align: center;
}
.wpr-modal .wpr-modal-body {
  overflow-y: auto;
  position: relative;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1rem;
}
.wpr-modal .recommended-product-list .single-wpr {
  flex: 0 0 50%;
  max-width: 50%;
}
.wpr-modal .wpr-modal-footer {
  padding: 0.75rem;
  text-align: center;
  border-top: 1px solid #dee2e6;
  border-bottom-right-radius: calc(.3rem - 1px);
  border-bottom-left-radius: calc(.3rem - 1px);
}
.wpr-modal .wpr-button {
  display: inline-block;
  font-weight: 400;
  border-radius: 2px;
  color: #212529;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 7px 20px;
  min-width: 130px;
  text-decoration: none;
  font-size: 1rem;
  line-height: 1.5;
  text-decoration: none !important;
}
.wpr-modal .wpr-button-blue {
  background-color: blue;
  color: #fff;
  margin: 0 10px;
}
.wpr-modal .wpr-button-green {
  background-color: green;
  color: #fff;
  margin: 0 10px;
}
.wpr-modal .recommended-product-list {
  overflow: hidden;
  margin-left: -10px;
  margin-right: -10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.wpr-modal .wpr-modal-dialog {
  max-height: calc(100% - 3.5rem);
  margin: 1.75rem auto;
}
.wpr-modal .recommended-product-list .single-wpr {
  padding: 0 10px;
  text-align: center;
  float: none !important;
  margin-right: 0 !important;
}
.wpr-modal .wpr-message {
  padding: 10px 15px;
  margin-bottom: 20px;
  background-color: #0f834d;
  background-color: #eeeeee;
  margin-left: 0;
  border-radius: 2px;
  color: #000;
  clear: both;
  border-left: 0.6180469716em solid rgba(0, 0, 0, 0.15);
  font-size: 18px;
  text-align: left;
}
.wpr-modal .wpr-message a.button {
  float: right;
  padding: 0;
  background: none;
  color: #000;
  box-shadow: none;
  line-height: 1.618;
  margin-left: 1em;
  padding-left: 1em;
  border-width: 0;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: rgba(255, 255, 255, 0.25) !important;
  border-radius: 0;
}
.wpr-modal .wpr-message a.button:after {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  line-height: inherit;
  vertical-align: baseline;
  content: "";
  margin-left: 0.5407911001em;
}

@media (max-width: 421px) {
  .wpr-modal .wpr-message {
    font-size: 12px;
  }
  .wpr-modal .wpr-message a.button {
    display: block;
    float: none;
    margin-left: 0;
    padding-left: 0;
  }
  .wpr-modal .wpr-modal-head h2.modal-heading {
    font-size: 16px;
  }
}
@media (min-width: 768px) {
  .wpr-modal.wpr-modal-4 .wpr-modal-dialog {
    max-width: 720px;
  }
  .wpr-modal.wpr-modal-4 .recommended-product-list .single-wpr {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .wpr-modal.wpr-modal-3 .wpr-modal-dialog {
    max-width: 720px;
  }
  .wpr-modal.wpr-modal-3 .recommended-product-list .single-wpr {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .wpr-modal.wpr-modal-2 .wpr-modal-dialog {
    max-width: 500px;
  }
}
@media (min-width: 992px) {
  .wpr-modal.wpr-modal-4 .wpr-modal-dialog {
    max-width: 960px;
  }
  .wpr-modal.wpr-modal-3 .wpr-modal-dialog {
    max-width: 750px;
  }
  .wpr-modal.wpr-modal-2 .wpr-modal-dialog {
    max-width: 500px;
  }
}
@media (min-width: 1200px) {
  .wpr-modal.wpr-modal-4 .wpr-modal-dialog {
    max-width: 1000px;
  }
  .wpr-modal.wpr-modal-4 .recommended-product-list .single-wpr {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .wpr-modal.wpr-modal-3 .wpr-modal-dialog {
    max-width: 750px;
  }
  .wpr-modal.wpr-modal-3 .recommended-product-list .single-wpr {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .wpr-modal.wpr-modal-2 .wpr-modal-dialog {
    max-width: 500px;
  }
  .wpr-modal.wpr-modal-2 .recommended-product-list .single-wpr {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

/*# sourceMappingURL=modal.css.map */
