/**
 * css for front end modal
 * modal class ".lpr-modal"
 */
 $base_class: lpr-modal;
 $overlay_class: lpr-modal-overlay;
 
 $sm-modal: 600px;
 $md-modal: 720px;
 $lg-modal: 960px;
 $xl-modal: 1000px;
 
 $sm-media: 767px;
 $md-media: 991px;
 $lg-media: 1199px;
 
 @keyframes placeHolderShimmer {
   0% {
     background-position: -468px 0;
   }
 
   100% {
     background-position: 468px 0;
   }
 }
 
 $wpr_message_bg: #46c28e;
 
 body.lpr-modal-opened {
   overflow: hidden;
 }
 
 .#{$base_class} {
   overflow-x: hidden;
   overflow-y: auto;
   z-index: 999999;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   outline: 0;
   font-family: Arial, Helvetica, sans-serif;
 }
 
 .#{$base_class}.show {
   display: flex !important;
   align-items: center;
   transition: opacity 0.2s linear;
   opacity: 0;
 }
 
 .#{$base_class}.show.fadeIn {
   opacity: 1;
 }
 
 .#{$overlay_class} {
   position: fixed;
   top: 0;
   left: 0;
   z-index: 999998;
   width: 100vw;
   height: 100vh;
   background-color: rgba(0,0,0,.5);
 }
 
 .#{$overlay_class}.show {
   opacity: 0;
   transition: opacity 0.2s linear;
 }
 
 .#{$overlay_class}.show.fadeIn {
   opacity: 1;
 }
 
 .#{$base_class} {
   strong {
     display: inline !important;
   }
 
   .lpr-modal-dialog {
     pointer-events: none;
     position: relative;
     transition: transform 0.4s ease-out, -webkit-transform 0.4s ease-out;
     transform: translate(0, -50px);
     width: $xl-modal;
     margin: 1.75rem auto;
     max-width: calc(100% - 30px);
     max-height: calc(100% - 3.5rem);
 
     @media screen and (max-width: $lg-media) {
       width: $lg-modal;
     }
 
     @media screen and (max-width: $md-media) {
       width: $md-modal;
     }
 
     @media screen and (max-width: $sm-media) {
       width: $sm-modal;
     }
   }
 
   &.show.fadeIn .lpr-modal-dialog {
     transform: translate(0, 0);
   }
 
   .lpr-modal-content {
     max-height: calc(100vh - 3.5rem);
    //  overflow: hidden;
     position: relative;
     width: 100%;
     pointer-events: auto;
     background-color: #fff;
     background-clip: padding-box;
     border-radius: 0.3rem;
     display: flex;
     flex-direction: column;
     outline: 0;
 
     .lpr-modal-close {
       font-size: 25px;
       opacity: 0.8;
       cursor: pointer;
       text-transform: none;
       position: absolute;
       top: 0;
       right: 0;
       color: #fff;
       background: $wpr_message_bg;
       width: 28px;
       height: 28px;
       border-radius: 50%;
       top: -14px;
       right: -14px;
       display: flex;
       align-items: center;
       justify-content: center;
     }
 
     .lpr-modal-close:before {
       content: "×";
     }
 
     .lpr-modal-head {
       display: -ms-flexbox;
       border-top-left-radius: calc(0.3rem - 1px);
       border-top-right-radius: calc(0.3rem - 1px);
       border-bottom: 1px solid #f1f1f1;
 
       .product-modal {
         display: inline !important;
       }
 
       h2.modal-heading {
         text-align: center;
         font-size: 20px;
         line-height: 1;
         font-weight: normal;
         color: #555;
         margin: 20px 10px 20px 10px;
         font-family: Arial, Helvetica, sans-serif;
         line-height: 1.5em;
 
         strong {
           white-space: nowrap;
         }
 
         &:before,
         &:after {
           display: none;
         }
       }
 
       .modal-heading-article {
         padding: 15px;
         &>* {
           margin-bottom: 0 !important;
         } 
       }
     }
 
     .lpr-button {
       padding: 6px 12px;
       display: inline-block;
       background: #4cc491;
       color: #fff;
       margin-right: 5px;
       font-size: 13px;
       letter-spacing: .05em;
       transition: all .3s;
       text-decoration: none;
       &:hover {
         background: #35a073;
         text-decoration: none;
       }
       h1 {
         font-size: 30px;
       }
 
       h2 {
         font-size: 24px;
       }
 
       h3 {
         font-size: 20px;
       }
 
       h4 {
         font-size: 18px;
       }
 
       @media screen and (max-width: $md-media) {
          h1 {
           font-size: 24px;
         }
 
         h2 {
           font-size: 22px;
         }
 
         h3 {
           font-size: 18px;
         }
 
         h4 {
           font-size: 16px;
         }        
         
         p  {
           font-size: 14px;
         }
       }
     }
 
     .lpr-message {
       padding: 15px 30px 15px 20px;
       border-radius: 2px;
       clear: both;
       font-size: 16px;
       text-align: left;
       color: #555;
       font-weight: normal;
       position: relative;
       line-height: 1.4em;
       background-color: #f5f5f5;
       display: flex;
       justify-content: space-between;
       align-items: center;
       flex-wrap: wrap;
 
       .message-text {
         display: flex;
         align-items:  center;
         @media screen and (max-width: 600px) {
           align-items:  flex-start;
         }
 
         .lpr-added-product {
           width: 50px !important;
           height: auto !important;
           margin-right: 5px;
           @media screen and (max-width: 600px) {
             width: 30px !important;
           }
         }
 
         svg {
           width: 16px;
           height: 16px;
           display: inline-block;
           margin-right: 3px;
           vertical-align: text-top;
           color: #46c28e;
           fill: #46c28e;
         }
       }
       .right-buttons {
         display: flex;
         align-items: center;
       }
 
       .right-buttons   a.lpr-cart-count{
         display: inline-block;
         line-height: 1em;
         color: #46c28e;
         fill: #46c28e;
         position: relative; 
         text-decoration: none !important;
         
         .lpr-total-items {
           position: absolute;
           width: 20px;
           height: 20px;
           color: #fff;
           background-color: #46c28e;
           border-radius: 50%;
           left: calc(100% - 9px);
           bottom: calc(100% - 3px);
           font-size: 12px;
           display: flex;
           justify-content: center;
           align-items: center;
           font-weight: bold;
           letter-spacing: 0;
         }
 
         svg {
           width: 20px;
           height: auto;
           margin-left: 10px;
         }
       }
       .lpr-notification-text {
         margin-right: 10px;
       }
 
       a.lpr-cart-button {
         white-space: nowrap;
         padding: 0;
         background: none;
         box-shadow: none;
         text-decoration: none;
         border-radius: 0;
         color: $wpr_message_bg;
         transition: 0.4s ease-in;
         &:hover {
           color: darken($color: $wpr_message_bg, $amount: 10);
         }
       }
     }
 
     .lpr-modal-body {
       overflow-y: auto;
       position: relative;
       -ms-flex: 1 1 auto;
       flex: 1 1 auto;
       padding: 16px 20px;
     }
 
     ul.recommended-products-list {
       overflow: hidden;
       display: flex !important;
       flex-wrap: wrap !important;
       justify-content: center !important;
       list-style: none !important;
       margin: 0 -10px !important;
       padding: 0 !important;
 
       li.single-lpr {
         flex: 0 0 calc(25% - 21px);
         width: calc(25% - 21px);
         margin-right: 10px !important;
         margin-right: 10px !important;
         margin-bottom: 40px;
 
         @media screen and (max-width: $md-media) {
           flex: 0 0 calc(33.333333% - 21px);
           width: calc(33.333333% - 21px);
         }
 
         @media screen and (max-width: $sm-media) {
           flex: 0 0 calc(50% - 21px);
           width: calc(50% - 21px);
         }
       }
     }
 
     .recommended-products-slider {
       padding: 0 20px;
       max-width: 100% !important;
       box-sizing: border-box;
     }
     .recommended-products-slider .single-lpr {
       margin-left: 0 !important;
       margin-right: 0 !important;
       width: 100% !important;
       
       table {
         table-layout: inherit !important;
 
         table tbody {
           display: inline-table;
         }
       }
       table.variations th,
       table.variations td {
         padding: 1em 1.41575em;
         padding-top: 5px;
         padding-bottom: 5px;
         display: table-cell;
         select {
           // width: inherit !important;
           max-width: 100% !important;
         }
       }
     }
 
     .owl-carousel .owl-nav {
       display: block !important;
       background-color: transparent !important;
       border-color: transparent !important;
       position: static !important;
     }

     .owl-carousel .owl-nav:hover,
     .owl-carousel .owl-nav [class*="owl-"]:hover {
        background-color: transparent !important;
        border-color: transparent !important;
     }

     .owl-carousel .owl-nav.disabled {
      display: none !important;
     }

     .owl-carousel .owl-dots {
       display: none !important;
     }
 
     .recommended-products-slider .single-lpr,
     ul.recommended-products-list li.single-lpr {
       list-style: none;
       text-align: center;
       display: block;
       float: none !important;
       position: relative;
       box-sizing: border-box;
       font-size: 14px;
       line-height: 22.5px;
       border: none !important;
       padding-left: 0 !important;
       padding-right: 0 !important;
       margin-top: 0 !important;
 
       .mf-product-thumbnail .footer-button {
         display: none;
       }
 
       .mf-product-content h2{
         font-size: 18px;
       }
 
       .social-icon {
         display: none;
       }
 
       .button-buynow {
         display: none;
       }
 
       .product-wrap .product-add-to-cart {
         display: none;
       }
 
       &:before,
       &:after {
         display: none;
       }
 
       .add-to-cart-wrap {
         display: none;
       } 
       /* electron theme fixed */
       .product-item__footer:before,
       .product-item__footer:after {
         display: none !important;
       }
 
       /*avada theme fix*/
       .product-details-container .fusion-price-rating {
         justify-content: center;
       }
 
       .fusion-product-content a.button {
         padding: 10px 15px;
         background: #000;
         color: #fff;
       }
 
       .quantity {
         display: none !important;
       }
 
       .star-rating {
         margin: auto auto 1em !important;
       }
 
       &:last-child {
         margin-right: 0 !important;
       }
 
       & > a {
         & > img,
         .et_shop_image img {
           margin-bottom: 22px;
         }
         text-decoration: none !important;
         &:hover {
           text-decoration: none !important;
         }
       }
 
       h2.woocommerce-loop-product__title {
         font-size: 16px;
         font-weight: 400;
         margin-top: 0;
         margin-bottom: 0.5em;
         font-family: Arial, Helvetica, sans-serif;
         height: auto;
 
         padding: 10px 0;
 
         &:before {
           display: none;
         }
 
         &:after {
           display: none;
         }
       }
 
       table {
           margin-bottom: 0;
           td,
           th {
             padding-top: 5px;
             padding-bottom: 5px;
           }
       }
 
       table tbody {
           // display: inline-table;
           .reset_variations {
             display: block;
           }
           td.label {
             padding-left: 0 !important;
             padding-right: 5px !important;
             color: #000;
           }
           td.value {
             padding-right: 0 !important;
             padding-left: 5px !important;
           }
         }
 
         .woocommerce-grouped-product-list-item__label,
         .woocommerce-grouped-product-list-item__price,
         .woocommerce-grouped-product-list-item__quantity {
           padding-left: 3px !important;
           padding-right: 3px !important;
           vertical-align: middle;
         }
 
       .price {
         display: block;
         font-weight: 400;
         margin-bottom: 16px;
         width: 100%;
         float: none !important;
       }
 
       .onsale {
         font-size: 0.875em;
         text-transform: uppercase;
       }
 
       table {
           margin-bottom: 0;
           td,
           th {
             padding-top: 5px;
             padding-bottom: 5px;
           }
         }
 
         .quantity .qty,
         .single_variation_wrap .single_variation {
           display: none;
         }
 
         .single_variation_wrap {
           margin-left: 0 !important;
           margin-right: 0 !important;
         }
 
         .woocommerce-grouped-product-list .quantity .qty {
             display: block;
         }
 
       a.button,
       button[type="submit"].button {
         font-size: 14px;
         font-weight: bold;
         outline: none;
         float: none !important;
       }
       a.button:before,
       a.button:after,
       button[type="submit"].button:before,
       button[type="submit"].button:after {
         font-size: 14px;
       }
     }
 
     ul li img,
     .thumbnail_container img {
       border: 1px solid #e6e6e6;
     }
 
     /*avada theme fix*/
     .crossfade-images {
       margin-bottom: 22px !important;
     }
 
     .fusion-product-content .star-rating {
       display: none;
     }
     .fusion-product-content  button[type=submit].button {
       margin-left: auto !important;
       margin-right: auto !important;
     }
   }
 
   .lpr-purchase-notification {
     position: absolute;
     top: 64px;
     left: 0;
     width: 100%;
     min-height: 1px;
     display: block;
     padding: 10px;
     text-align: center;
     color: #fff;
     font-weight: bold;
     font-size: 16px;
     background: rgba(76, 196, 145, 9.5);
     display: none;
   }
 }
 
 .#{$base_class} .owl-carousel .owl-stage {
   margin: auto;
 }
 
 .#{$base_class} {
   .owl-carousel .owl-nav {
     .owl-prev,
     .owl-next {
       position: absolute;
       background: none;
       outline: none;
       text-decoration: none;
       display: inline-block;
       font-size: 70px;
       top: 50%;
       margin-top: -70px;
       opacity: 0.6;
       transition: opacity 0.1s;
 
       &:before,
       &:after {
         display: none;
       }
     }
 
     .owl-prev {
       left: -10px;
     }
 
     .owl-next {
       right: -10px;
     }
 
     .owl-prev:hover,
     .owl-next:hover {
       opacity: 1;
     }
 
     .disabled,
     .disabled:hover {
       pointer-events: none;
       opacity: 0.2;
     }
 
     svg {
       width: 20px;
       height: auto;
       color: #46C28E;
       fill: #46C28E;
     }
   }
 }
 
 /** Divi add-cart button fix **/
 body.theme-Divi
   .lpr-modal
   .lpr-modal-content
   ul.recommended-product-list
   li.single-lpr
   a.button:after {
   line-height: 1.7em;
 }

/* Porto theme Fix */

body.wvs-theme-porto .single-lpr .img-effect {
  display: block;
  overflow: hidden;
  position: relative;
}

body.wvs-theme-porto .single-lpr .img-effect img {
  position: relative;
  opacity: 1;
  transform: translateZ(0);
  transition: all .4s;
}

body.wvs-theme-porto .single-lpr .img-effect .hover-image {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  opacity: 0;
  transition: all .4s;
}

body.wvs-theme-porto .single-lpr .img-effect:hover img {
  opacity: 0;
}

body.wvs-theme-porto .single-lpr .img-effect:hover .hover-image {
  opacity: 1;
}


 /*Fixing for davinciwoo theme */
 .theme-davinciwoo .lpr-modal .single_add_to_cart_button-group .view-cart.cart-popup {
   display: none;
 }


/*Fixing for twenty twenty two theme */
body.theme-twentytwentytwo .lpr-modal .lpr-modal-content .recommended-products-slider .single-lpr .onsale {
    top: 0;
    right: 0;
  }
 
 //animation
 .lpr__animated {
   animation-duration: 1s;
   animation-fill-mode: both;
 }
 
 @keyframes lpr_headShake {
   0% {
     -webkit-transform: translateX(0);
     transform: translateX(0);
   }
 
   6.5% {
     -webkit-transform: translateX(-6px) rotateY(-9deg);
     transform: translateX(-6px) rotateY(-9deg);
   }
 
   18.5% {
     -webkit-transform: translateX(5px) rotateY(7deg);
     transform: translateX(5px) rotateY(7deg);
   }
 
   31.5% {
     -webkit-transform: translateX(-3px) rotateY(-5deg);
     transform: translateX(-3px) rotateY(-5deg);
   }
 
   43.5% {
     -webkit-transform: translateX(2px) rotateY(3deg);
     transform: translateX(2px) rotateY(3deg);
   }
 
   50% {
     -webkit-transform: translateX(0);
     transform: translateX(0);
   }
 }
 
 .animate__lpr_headShake {
   -webkit-animation-timing-function: ease-in-out;
   animation-timing-function: ease-in-out;
   -webkit-animation-name: lpr_headShake;
   animation-name: lpr_headShake;
 }


// ocean wp theme fix
.owp-qv-container {
  z-index: 99999999 !important;
}

#owp-qv-wrap, #owp-qv-wrap .owp-qv-overlay {
  z-index: 9999999 !important;
}

body.oceanwp-theme #lpr-modal ul.woo-entry-inner .btn-wrap {
  display: none !important;
}
 

.single-lpr .rey-lineLoader {
  display: none;
}