/**
 * stylesheet for front end modal
 * modal class ".lpr-modal"
 */
$base_class: lpr-modal;
$overlay_class: lpr-modal-overlay;

$sm-modal: 600px;
$md-modal: 720px;
$lg-modal: 960px;
$xl-modal: 1000px;

$sm-media: 767px;
$md-media: 991px;
$lg-media: 1199px;

@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }

  100% {
    background-position: 468px 0;
  }
}

$wpr_message_bg: #46c28e;

body.lpr-modal-opened {
  overflow: hidden;
}

.#{$base_class} {
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 999999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  outline: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.#{$base_class}.show {
  display: flex !important;
  align-items: center;
  transition: opacity 0.2s linear;
  opacity: 0;
}

.#{$base_class}.show.fadeIn {
  opacity: 1;
}

.#{$overlay_class} {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999998;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,.5);
}

.#{$overlay_class}.show {
  opacity: 0;
  transition: opacity 0.2s linear;
}

.#{$overlay_class}.show.fadeIn {
  opacity: 0.5;
}

.#{$base_class} {
  strong {
    display: inline !important;
  }

  .lpr-modal-dialog {
    pointer-events: none;
    position: relative;
    transition: transform 0.4s ease-out, -webkit-transform 0.4s ease-out;
    transform: translate(0, -50px);
    width: $xl-modal;
    margin: 1.75rem auto;
    max-width: calc(100% - 30px);
    max-height: calc(100% - 3.5rem);

    @media screen and (max-width: $lg-media) {
      width: $lg-modal;
    }

    @media screen and (max-width: $md-media) {
      width: $md-modal;
    }

    @media screen and (max-width: $sm-media) {
      width: $sm-modal;
    }
  }

  &.show.fadeIn .lpr-modal-dialog {
    transform: translate(0, 0);
  }

  .lpr-modal-content {
    max-height: calc(100vh - 3.5rem);
    overflow: hidden;
    position: relative;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border-radius: 0.3rem;
    display: flex;
    flex-direction: column;
    outline: 0;

    .lpr-modal-close {
      font-size: 25px;
      opacity: 0.8;
      cursor: pointer;
      text-transform: none;
      position: absolute;
      top: 0;
      right: 0;
      color: #fff;
      text-align: center;
      background: $wpr_message_bg;
      width: 28px;
      height: 28px;
      line-height: 24px;
      border-bottom-left-radius: 0.4em;
    }

    .lpr-modal-close:before {
      content: "×";
    }

    .lpr-modal-head {
      display: -ms-flexbox;
      border-top-left-radius: calc(0.3rem - 1px);
      border-top-right-radius: calc(0.3rem - 1px);
      border-bottom: 1px solid #f1f1f1;

      .product-modal {
        display: inline !important;
      }

      h2.modal-heading {
        text-align: center;
        font-size: 20px;
        line-height: 1;
        font-weight: normal;
        color: #555;
        margin: 20px 10px 20px 10px;
        font-family: Arial, Helvetica, sans-serif;
        line-height: 1.5em;

        strong {
          white-space: nowrap;
        }

        &:before,
        &:after {
          display: none;
        }
      }
    }

    .modal-heading-article {
      padding: 15px;
      p {
        margin-bottom: 20px;
      }
      &>:last-child {
        margin-bottom: 0 !important;
      }
      h1 {
        font-size: 30px;
      }

      h2 {
        font-size: 24px;
      }

      h3 {
        font-size: 20px;
      }

      h4 {
        font-size: 18px;
      }

      @media screen and (max-width: $md-media) {
        h1 {
          font-size: 24px;
        }

        h2 {
          font-size: 22px;
        }

        h3 {
          font-size: 18px;
        }

        h4 {
          font-size: 16px;
        }
        p  {
          font-size: 14px;
        }
      }
    }

    .lpr-button {
      padding: 6px 12px;
      display: inline-block;
      background: #4cc491;
      color: #fff;
      margin-right: 3px;
      font-size: 13px;
      letter-spacing: .05em;
      transition: all .3s;
      &:hover {
        background: #35a073;
      }
    }

    .lpr-message {
      padding: 15px 30px 15px 50px;
      border-radius: 2px;
      clear: both;
      font-size: 16px;
      text-align: left;
      color: #000;
      font-weight: normal;
      position: relative;
      line-height: 1.4em;
      background-color: #f5f5f5;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      svg {
        fill: #46c28e;
        color: #46c28e;
        width: 16px;
        height: 16px;
        display: inline-block;
        margin-left: -20px;
        vertical-align: text-top;
      }

      .lpr-notification-text {
        margin-right: 10px;
      }

      a.lpr-cart-button {
        white-space: nowrap;
        padding: 0;
        background: none;
        box-shadow: none;
        text-decoration: none;
        border-radius: 0;
        color: $wpr_message_bg;
        transition: 0.4s ease-in;

        &:hover {
          color: darken($color: $wpr_message_bg, $amount: 10);
        }
      }
    }

    .lpr-modal-body {
      overflow-y: auto;
      position: relative;
      -ms-flex: 1 1 auto;
      flex: 1 1 auto;
      padding: 16px 20px;
    }

    ul.recommended-products-list {
      overflow: hidden;
      display: flex !important;
      flex-wrap: wrap !important;
      justify-content: center !important;
      list-style: none !important;
      margin: 0 -10px !important;
      padding: 0 !important;

      li.single-lpr {
        list-style: none;
        text-align: center;
        display: block;
        float: none !important;
        position: relative;
        margin-right: 10px !important;
        margin-left: 10px !important;
        flex: 0 0 calc(25% - 21px);
        width: calc(25% - 21px);
        box-sizing: border-box;
        text-align: center;
        margin-bottom: 40px;
        font-size: 14px;
        line-height: 22.5px;

        /*avada theme fix*/
        .product-details-container .fusion-price-rating {
          justify-content: center;
        }

      .fusion-product-content a.button {
        padding: 10px 15px;
        background: #000;
        float: none !important;
        color: #fff;
      }

      .quantity {
        display: none !important;
      }

        @media screen and (max-width: $md-media) {
          flex: 0 0 calc(33.333333% - 21px);
          width: calc(33.333333% - 21px);
        }

        @media screen and (max-width: $sm-media) {
          flex: 0 0 calc(50% - 21px);
          width: calc(50% - 21px);
        }

        .star-rating {
          margin: auto auto 1em !important;
        }

        & > a {
          text-decoration: none;

          &:hover {
            text-decoration: none;
          }
        }

        h2.woocommerce-loop-product__title {
          font-size: 16px;
          font-weight: 400;
          margin-top: 0;
          margin-bottom: 0.5em;
          font-family: Arial, Helvetica, sans-serif;
        }

        .price {
          display: block;
          color: #43454b;
          font-weight: 400;
          margin-bottom: 16px;
        }

        .onsale {
          font-size: 0.875em;
          text-transform: uppercase;
        }

        a.button,
        button[type="submit"].button {
          font-size: 14px;
          font-weight: bold;
          outline: none;
          float: none !important;
        }

        a.button:before,
        a.button:after,
        button[type="submit"].button:before,
        button[type="submit"].button:after {
          font-size: 14px;
        }

        table {
          margin-bottom: 0;
          td,
          th {
            padding-top: 5px;
            padding-bottom: 5px;
          }
        }

        table tbody {
          display: inline-table;
          .reset_variations {
            display: block;
          }
          td.label {
            padding-left: 0 !important;
            padding-right: 5px !important;
          }
          td.value {
            padding-right: 0 !important;
            padding-left: 5px !important;
          }
        }

        .quantity .qty,
        .single_variation_wrap .single_variation {
          display: none;
        }

        .woocommerce-grouped-product-list .quantity .qty {
            display: block;
        }
        
        .woocommerce-grouped-product-list-item__label,
        .woocommerce-grouped-product-list-item__price,
        .woocommerce-grouped-product-list-item__quantity {
          padding-left: 3px !important;
          padding-right: 3px !important;
          vertical-align: middle;
        }
        
      }
    }

    ul li img {
      border: 1px solid #e6e6e6;
      margin-bottom: 22px;
    }
    /*avada theme fix*/
    .crossfade-images {
      margin-bottom: 22px !important;
    }
    .quantity {
      display: none !important;
    }
    .fusion-product-content .star-rating {
      display: none;
    }
    .fusion-product-content  button[type=submit].button {
      margin-left: auto !important;
      margin-right: auto !important;
    }
  }

  .lpr-purchase-notification {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    text-align: center;
    color: #fff;
    font-size: 16px;
    background: rgba(76, 196, 145, 0.78);
  }

  .loading-products {
    display: flex;
    width: 100%;
    justify-content: space-between;
    text-align: center;

    .single-loading-product {
      width: calc(25% - 16px);
      @media screen and (max-width: $md-media) {
        flex: 0 0 calc(33.333333% - 14px);
        width: calc(33.333333% - 14px);

        &:last-child {
          display: none;
        }
      }

      @media screen and (max-width: $sm-media) {
        flex: 0 0 calc(50% - 11px);
        width: calc(50% - 11px);

        &:nth-child(3) {
          display: none;
        }
      }

      .loading-thumb {
        width: 100%;
        height: 200px;
        background: #f6f7f8;
        background: linear-gradient(
          to right,
          #eeeeee 8%,
          #dddddd 18%,
          #eeeeee 33%
        );
        background-size: 800px 104px;
        margin-bottom: 30px;
        animation-duration: 2s;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite;
        animation-name: placeHolderShimmer;
        animation-timing-function: linear;
      }

      .loading-title {
        width: 70%;
        height: 15px;
        display: inline-block;
        background: #f6f7f8;
        margin-bottom: 10px;
      }

      .loading-price {
        height: 15px;
        width: 50px;
      }

      .loading-price,
      .loading-button {
        background: #f6f7f8;
        display: inline-block;
        margin-bottom: 10px;
      }

      .loading-button {
        width: 100px;
        height: 30px;
      }
    }
  }
}

/** divi fix **/
body.theme-Divi .lpr-modal .lpr-modal-content ul.recommended-products-list li.single-lpr a.button:after {
  line-height: 1.7em;
}
