@keyframes lpr-spin {
    0% {
        transform: rotateZ(0);
    }

    100% {
        transform: rotateZ(360deg);
    }
}

#lc_pr_product_selection {
    .inside {
        padding-left: 0;
        padding-right: 0;
    }

    h2.hndle {
        font-size: 18px !important;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .wp-editor-area {
        width: 100%;
    }

    .wp-editor-wrap {
        top: -20px;
    }

    .heading-input {
        margin-top: 25px;
    }
}

.recommendation-product-options {
    padding: 15px 0;

    .lc-recommendation-product {
        position: relative;
        z-index: 10;
    }

    .lc-recommendation-product-loader {
        font-size: 20px;
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 999;
        transform: translate(-50%, -50%);
    }

    .recommendation-product-options-wrap {
        transition: opacity .4s;
    }

    .selection-methods {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        label {
            margin: 0 10px 0 0 !important;
            width: auto !important;
            float: none !important;
            font-size: 0.9em;
            font-weight: bold;
            display: flex;
            align-items: center;
            white-space: nowrap;

            input[type="radio"] {
                margin-right: 5px;
            }
        }
    }
    
    .pr-field {
        border-top: 1px solid #ccd0d4;
        margin-top: 25px;
        padding-top: 25px;
        padding-left: 12px;
        padding-right: 12px;
        clear: both;

        .heading-control {
            font-size: 12px;
            font-weight: bold;
            margin-bottom: 15px;
            display: flex;
        }

        .heading-control label {
            margin: 0 10px 0 0 !important;
            float: none !important;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            white-space: nowrap;
            width: auto !important;

            input[type="radio"] {
                margin-right: 5px;
            }
        }


        .pro-dynamic-selection {
            a {
                color: red;
                text-decoration: none;
                font-size: 15px;
                margin-top: -26px;
                display: inline-block;
                position: relative;
                top: -12px;
                outline: none !important;
                box-shadow: none !important;
                &:hover {
                    text-decoration: underline;
                }
            }
            img {
            width: 100%;
            height: auto;
            cursor: not-allowed;
            }
        }

        p {
            padding: 0 !important;
        }
    }

    .pr-field input[type="text"] {
        width: 100%;
    }

    .pr-field:first-child {
        border-top: none;
        margin-top: 0;
        padding-top: 0;
    }

    .product-selection-panel {
        border: 1px solid #ccd0d4;
    }

    .rp-panel-title {
        font-weight: bold;
        margin-bottom: 15px;
        text-transform: capitalize;
    }

    .product-filter {
        padding: 7px;
        border-bottom: 1px solid #ccd0d4;

        &::after {
            content: "";
            clear: both;
            display: table;
        }

        .search {
            width: 50%;
            display: block;
            float: left;

            input[type=text],
            input[type=text]:focus {
                width: 100%;
                border: none;
                box-shadow: none;
            }
        }
    }

    .product-selection-panel {
        .product-selection {
            overflow: auto;

            &:before {
                content: "";
                clear: both;
                display: table;
            }

            .list-panel,
            .select-item-panel {
                width: 50%;
                float: left;
                background-color: #fff;
                box-sizing: border-box;

                .single-list {
                    font-size: 14px;
                }
            }

            .list-panel {
                border-right: 1px solid #ccd0d4;
                background: #F9F9F9;
            }

            img {
                margin-top: -2px;
                margin-right: 10px;
                display: inline-block;
                height: 24px;
                width: 24px;
                float: left;
                background-color: #ddd;
            }
        }

        ul {
            list-style: none;
            margin: 0;
            padding-left: 10px;
            height: 420px;
            overflow: auto;
            padding: 5px;

            li {
                
                &.disabled {
                    pointer-events: none !important;
                    padding-bottom: 0 !important;
                }

                &.selected-product {
                    pointer-events: none;
                    opacity: .5;
                    filter: grayscale(1);
                }

                &.invisible {
                    opacity: 0;
                }

                display: block;
                padding: 5px 7px;

                &:last-child {
                    margin-bottom: 0 !important;
                }

                &:hover {
                    background-color: gray;
                    cursor: pointer;
                    background: #e14d43;
                    color: #fff;
                }

                .lpr-loading-posts {
                    position: relative;
                    width: 15px;
                    height: 15px;
                    display: inline-block;
                    background-color: gray;
                    border-radius: 50%;
                    animation: lpr-spin 1s linear infinite;

                    &:before {
                        content: '';
                        position: absolute;
                        width: 3px;
                        height: 3px;
                        border-radius: 50%;
                        background-color: #fff;
                        top: 3px;
                        left: 3px;
                    }
                }
            }
        }

        .select-item-panel li {
            position: relative;
            box-sizing: border-box;
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;

            &:hover {
                cursor: grab;
            }

            &.dragged {
                z-index: 10;
                cursor: grabbing;
                opacity: .9;
                background: gray;
            }

            .remove-item {
                position: absolute;
                text-decoration: none;
                display: inline-block;
                width: 20px;
                height: 20px;
                line-height: 18px;
                border-radius: 50%;
                background: #000;
                text-align: center;
                color: #fff;
                counter-reset: pointer;
                right: 10px;
                top: 5px;
                z-index: 10px;
                opacity: 0;
                transition: color .2s;

                &:hover {
                    color: #e14d43;
                    counter-reset: pointer;
                }
            }

            &:hover .remove-item {
                opacity: 1;
                cursor: pointer;
            }

            &.custom-placeholder {
                display: block;
                height: 30px;
                background: #f1f1f1;
                border: 1px dashed #e14d43;
            }
        }
    }

    .category-filter {
        width: 30%;
        float: right;

        .components-base-control .components-base-control__field {
            margin-bottom: 0;
        }

        select {
            width: 100%;
            line-height: inherit !important;
        }
    }
}

//icon for Product Date Tab
#woocommerce-product-data ul.wc-tabs li.lpr-product-recommendations_tab a::before {
    content: "\f174";
}