.getwooplugins-admin-form-table tr {
  display: table-row !important;
  .forminp-textarea .wp-editor-tools textarea {
    width: 100%;
  }

  .forminp-textarea .wp-editor-tools textarea,
  .forminp-textarea .wp-editor-tools textarea:focus {
    outline: none !important;
    border: none !important;
    box-shadow: none;
  }

  .CodeMirror {
    border: 1px solid #f2f2f2;
  }
}
