#plfy_prodcut_selection .inside {
	padding-left: 0;
	padding-right: 0;
}

.recommend-product-options {
	padding: 15px 0;

	.pgfy-recommend-product {
		position: relative;
		z-index: 10;
	}

	.pgfy-recommend-product-prelaoder {
		font-size: 20px;
		display: inline-block;
		position: absolute;
		top: 50%;
		left: 50%;
		z-index: 999;
		transform: translate(-50%, -50%);
	}

	.recommend-prodcut-options-wrap {
		transition: opacity .4s;
	}

	.pr-field {
		border-top: 1px solid #ccd0d4;
		margin-top: 25px;
		padding-top: 25px;
		padding-left: 12px;
		padding-right: 12px;
		clear: both;
	}

	.pr-field input[type="text"] {
		width: 100%;
	}

	.pr-field:first-child {
		border-top: none;
		margin-top: 0;
		padding-top: 0;
	}

	.product-selection-panel {
		border: 1px solid #ccd0d4;
	}

	.rp-panel-title {
		font-weight: bold;
		margin-bottom: 10px;
	}

	.product-filter {
		padding: 7px;
		border-bottom: 1px solid #ccd0d4;

		&::after {
			content: "";
			clear: both;
			display: table;
		}

		.search {
			width: 50%;
			display: inline-block;
			float: left;

			input[type=text],
			input[type=text]:focus {
				width: 100%;
				border: none;
				box-shadow: none;
			}
		}
	}

	.product-selection-panel {
		.product-selection {
			overflow: auto;
			&:before {
				content: "";
				clear: both;
				display: table;
			}

			.list-panel,
			.select-item-panel {
				width: 50%;
				float: left;
				background-color: #fff;
				box-sizing: border-box;
			}

			.list-panel {
				border-right: 1px solid #ccd0d4;
				background: #F9F9F9;
			}

			img {
				margin-top: -1px;
				margin-right: 10px;
				display: inline-block;
				height: 20px;
				width: 20px;
				float: left;
				background-color: #ddd;
			}
		}

		ul {
			list-style: none;
			margin: 0;
			padding-left: 10px;
			height: 300px;
			overflow: auto;
			padding: 5px;

			li {
				display: block;
				padding: 5px 7px;

				&:hover {
					background-color: gray;
					cursor: pointer;
					background: #e14d43;
					color: #fff;
				}
			}
		}

		.select-item-panel li {
			position: relative;
			box-sizing: border-box;
			  -webkit-touch-callout: none;
			-webkit-user-select: none;
			 -khtml-user-select: none;
			   -moz-user-select: none;
				-ms-user-select: none;
					user-select: none;

			&:hover {
				cursor: grab;
			}

			&.dragged {
				z-index: 10;
				cursor: grabbing;
				opacity: .9;
				background: gray;
			}

			.remove-item {
				position: absolute;
				text-decoration: none;
				display: inline-block;
				width: 20px;
				height: 20px;
				line-height: 18px;
				border-radius: 50%;
				background: #000;
				text-align: center;
				color: #fff;
				counter-reset: pointer;
				right: 10px;
				top: 5px;
				z-index: 10px;
				opacity: 0;
				transition: color .2s;

				&:hover {
					color: #e14d43;
					counter-reset: pointer;
				}
			}
			
			&:hover .remove-item {
				opacity: 1;
				cursor: pointer;
			}

			&.custom-placeholder {
				display: block;
				height: 30px;
				background: #f1f1f1;
				border: 1px dashed #e14d43;
			}
		}
	}
	
	.category-filter {
		width: 25%;
		float: right;

		select {
			width: 100%;
		}
	}
}